---
layout: default
title: okpebbs
path: home
---

<div class="container mx-auto mt-10 flex flex-col justify-center items-center" style="margin-top:10vh">
  <h1>
    Howdy Stranger 🤠<br>
    It's-a Me, <strong class="bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-pink-500">
      {{title}}!
    </strong>
  </h1>
  <p>
    "I'm just a guy trynna do some good in the world."
  </p>
  <p>
    <abbr title="world's okayest...line-cook,photographer, front-end-guy, knife-sharpener, designer.">IT'S DANGEROUS OUT THERE!</abbr>
    Take this: <a href="https://okpebbs.com/#secret-link" target="blank" style="font-size:3em"><code class="bg-gray-100" style="border-style:dotted; border-width:5px;">🍌</code></a>
  </p>

  {% include "./_includes/partials/content.html" %}
  <a name="hmu"></a><h1>
    So... you're trynna <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      hit-me-up,</strong> eh?
  </h1>
  <p>
    "Too bad <code class="bg-gray-100" style="border-style:dotted; border-width:5px;">your-mom</code> did first."
  </p>
  <script>
  var content = document.getElementById("sleepy");
  content.style.display="none";
  setTimeout(function(){
    content.style.display="block";
  }, 500);
</script>
  <div id="sleepy" class="fade-in">{% include "./_includes/partials/contact.html" %}

    <script src="https://kit.fontawesome.com/2ab68faf64.js" crossorigin="anonymous" defer></script>
</div>
</div>
